.bg-img-consultant{
    background-image: url(../../../assets/Rectangle\ 46.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-blend-mode: darken;
    background-size: contain
}